<!DOCTYPE html>
<html>
  <head>
    
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h1><a href="<%= current_user ? user_url(current_user) : new_session_url%>">MusicApp</a></h1>

    <nav>

      <% if logged_in? %>
        <p>Logged in as: <%= current_user.email %></p>
        <form action="<%=session_url %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
          <input type="submit" value="Logout">
        </form>
      <% else %>
        <a href="<%= new_session_url%>">Login</a>
      
        <a href="<%= new_user_url%>">Sign-up</a>
      <% end %>
    </nav>
  </header>

  <body>
    <% if flash[:errors] %>
      <ul>
      <% flash[:errors].each do |err| %>
        <li><%= err %></li>
      <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
