<!DOCTYPE html>
<html>
  <head>
    <title>Note App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if logged_in? %>
    <form action="<%=session_url%>" method="post">
      <input type="hidden" method="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign Out">
    </form>
    <% end %>
    
    
</form>
  </header>

  <body>
    <%= flash[:errors] %>
    <%= yield %>
  </body>
</html>
