
<% @user.notes.each do |note|%>
    <% if  !note.secret%>
        <%= note.title %>
        <%= note.description %>
        <a href="<%=edit_note_url(note)%>">Edit Note Form</a>
    <% end %>
<% end %>


<h1>Add a New Note</h1>

<form action="<%=user_notes_url(@user)%>" method="post">
    <input type="hidden" method="authenticity_token" value="<%=form_authenticity_token%>">
    <label>Title
        <input type="text" name="note[title]" value="">
    </label>
    <label>Description
        <input type="text" name="note[description]" value="">
    </label>


    <label>True
        <input type="radio" name="note[secret]" value="true">
    </label>
    <label>Grue
        <input type="radio" name="note[secret]" value="false">
    </label>

    <input type="submit" value="Create Note">
</form>