<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <header>
    <% if logged_in?%>
      <h1>Logged in as: <%= current_user.user_name %> </h1>
      <form action=" <%= session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_user_url %>">Sign Up!</a>
      <a href="<%= new_session_url %>">Login</a>
    <% end %>
    <a href="<%= cats_url %>">Back to cats! :D</a>
    
  </header>

  <body>
    <%= yield %>
  </body>
</html>
