<% if action == "new" %>
    <% action_url = posts_url %>
<% else %>
    <% action_url = post_url %>
<% end %>

<form action="<%=action_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <% if action == "edit" %>
        <input type="hidden" name="_method" value="patch">
    <% end %>
    <br>
    <label>Title
        <input type="text" name="post[title]" value="<%=post.title%>">
    </label>   
        <br>
    <label>URL
        <input type="text" name="post[url]" value="<%=post.url%>">
    </label> 
        <br>
      <label>Content
        <textarea name="post[content" id="" cols="40" rows="3" value="<%=post.content%>"><%=post.content%></textarea>
    </label> 
    <br>
    <% Sub.all.each do |sub| %>
        <input type="checkbox" name="post[sub_id]" id="" value="<%=sub.id%>">
        <label for=""><%= sub.title %></label>  
        <br>
     <% end %>
    
    <br>
    <input type="submit" value="Submit">
</form>

