<% if cat.persisted? %>
  <% action_url = cat_url(cat) %>
  <%button_text = "Edit that cat!"%>
<% else %>
  <% action_url = cats_url %>
  <%button_text = "Create that cat!"%>
<% end %>

<form action= "<%= action_url %>" method="post">
    <%if cat.persisted?%>
      <input type="hidden" name="_method" value="patch">
    <% end %>
    <label for="name"> Name: </label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

    <br>
    <br>

    <label for="sex">Sex: </label>
    <input id="Male" type="radio" name="cat[sex]" value="M"  <%= cat.sex == "M" ? "checked" : "" %>>
    <label for="Male">M</label>
    <input id="Female" type="radio" name="cat[sex]" value="F"  <%= cat.sex == "F" ? "checked" : "" %>>
    <label for="Female">F</label>

    <br>
    <br>

    <label for="color">Color:</label>
    <select id = "color" name="cat[color]">
      <option disabled <%= action == :new ? "selected" : "" %>>-- select a color --</option>
      <%Cat.AVAILABLE_COLORS.each do |color| %>
        <option value="<%=color%>" <%= cat.color == color ? "selected" : "" %>><%=color%></option>
      <% end %>
    </select>

    <br>
    <br>

    <label for="birth_date">Birth Date:</label>
    <input id="birth_date" type="date" name="cat[birth_date]" value="<%= cat.birth_date %>"> 

    <br>
    <br>
    
    <label for="description">Description:</label> 
    <textarea id="description" name="cat[description]" value=""><%= cat.description %></textarea>

    <br>
    <br>

    <input type="submit" value="<%= button_text %>">
</form>


